<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://chatbotai2023.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9de92589-6d66-4a3c-b9e3-b77922d49f33/resourceGroups/FinalGroup/providers/Microsoft.Web/sites/ChatBotAI2023</ResourceId>
    <UserName>$ChatBotAI2023</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://chatbotai2023.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>